.footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;

  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: rgb(49, 49, 49);

  /* padding: 10px 20px; */
}

.footer ul {
  font-size: 20px;
  color: white;
  list-style: none;
  padding-top: 10px;
}

.footer a {
  list-style: none;
  color: grey;
  font-size: 10px;
}
/* -------------------------------- */

body {
  margin: 0px;
  /* margin-bottom: 600px; */
  height: 100%;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav_logo {
  height: 70px;
  width: auto;
  color: black;
  padding-top: auto;
}

.activity_main {
  width: 100%;
  height: 75px;
  background-color: rgb(17, 88, 17, 0.05);
  z-index: 9999;
}

.navbar_menu {
  /* display: flex; */
  /* list-style: none; */
  position: relative;
  /* float: left; */
  height: 75px;
  width: 60%;
/*   border: 1px solid black; */
  display: inline-block;
}

.navbar_menu span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 12px;

}

.navbar_link {
  position: relative;
  float: right;
  width: 23%;
  height: 70px;
  /* border: 1px solid black; */
}
.navbar_link span {
  position: relative;
  top: 30%;
  padding: 0 15px;
}

.navbar_link2 {
  position: relative;
  float: right;
  width: 25%;
  height: 70px;
}
.navbar_link2 span {
  position: relative;
  padding: 0 15px;
}

.navbar_link2 div {
  color: olive;
  font-size: 18px;
  font-weight: 500;
  margin: 3px 0 7px 10%;
}

.login_btn {
  background: rgba(0, 166, 81, 1);
  border-radius: 4px;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: -4px;
  box-shadow: 2px 2px 2px black;
}

.login_btn:active {
  box-shadow: none;
}

.logout_btn {
  color: gray;
  background: #e8e8e8;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: -4px;
  box-shadow: 2px 2px 2px black;
}

.logout_btn:active {
  box-shadow: none;
}

.search-btn {
  color: white;
  background: rgba(0, 166, 81, 1);
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 2px black;
}
.search-btn:active {
  box-shadow: none;
}

a:hover {
  background-color: #178817;
  border-radius: 4px;
  height: 100%;
}



/* --------------------------------------------------- */
.mainsearch {
  width: 45%;
  margin: 0px auto 20px auto;
  overflow: hidden;
  /* border: 1px solid red; */
}

.mainsearch ul {
  float: left;
  margin: 0px auto;
  left: 40%;
}

.mainlogo {
  position: relative;
  width: 20%;
  height: auto;
  left: 40%;
  margin: 0 auto;
}

.mainimage {
  width: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
  position: relative;
}

.mainimage .si {
  width: 23%;
  height: 200px;
  float: left;
  margin: 1%;
  margin-bottom: 10px;
  position: relative;
}
.si img {
  width: 100%;
  height: 100%;
}

.mainimage h1 {
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;
  transform: translate(-50%);
}

main {
  padding-top: 100px;
}

.wrapper {
  height: 100%;
}

.footer ul {
  padding-left: 0px;
}

.event {
  width: 90%;
  /* border:1px solid red; */
  margin: 0 auto;
  overflow: hidden;
}

.event img {
  margin: 70px 10px 0px 10px;
  width: 100%;
  height: auto;
}

/* --------------------------- */

.favoacti {
  width: 90%;
  margin: 100px auto 0px auto;
  overflow: hidden;
}

.favoacti h1 {
  /* float: left; */
  margin-left: 20px;
  font-size: 30px;
}

.favo {
  background-color: black;
}

.favo div {
  width: 23%;
  float: left;
  height: 250px;
  margin: 1%;
  margin-bottom: 10px;
}

.favoacti img {
  width: 23%;
  float: left;
  height: 250px;
  margin: 1%;
  margin-bottom: 10px;
}

.favoacti li {
  list-style: none;
  float: left;
}

/* --------------------------- */

/* --------------------------- */

.mate {
  width: 100%;
  /* border:1px solid red; */
  margin: 0 auto;
  overflow: hidden;
}

.mate img {
  /* margin:0px 10px 20px 10px; */
  width: 100%;
  height: 400px;
  padding-bottom: 100px;
}

.mate1 {
  width: 90%;
  /* border:1px solid red; */
  margin: 0 auto;
  overflow: hidden;
}

.mate1 img {
  width: 30%;
  float: left;
  height: 250px;
  margin: 1.6%;
  margin-bottom: 10px;
}

.gif > {
  width: 20%;
  height: auto;
  display: inline-block;
  /* vertical-align: middle; */
  /* float: left; */
}

.gif img {
  width: 10%;
  height: auto;
  margin-top: 20px;
}

.gif p {
  /* margin-bottom: 20px; */
}

/* ————————————— */
.bestreview {
  width: 82%;
  height: 230px;
  margin: 100px auto 0px auto;
  background-color: pink;
}

.all {
  width: 100%;
  height: 800px;
  /* background-color: red; */
  /* z-index: -100; */
}

.all1 {
  width: 60%;
  margin: 0 auto;
  height: 3000px;
  /* border: 1px solid red; */
}




body {
  margin: 0px;
  /* margin-bottom: 600px; */
  height: 100%;
  padding: 0px;
}

.nav_logo {
  height: 70px;
  width: auto;
  color: black;
  padding-top: auto;
}

.navbar_menu {
  /* display: flex; */
  /* list-style: none; */
  position: relative;
  /* float: left; */
  height: 75px;
  width: 60%;
/*   border: 1px solid black;
 */  display: inline-block;
}


.navbar_menu span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 12px;

}

.navbar_link {
  position: relative;
  float: right;
  width: 23%;
  height: 70px;
/*   border: 1px solid black;
 */}
.navbar_link span {
  position: relative;
  top: 30%;
  padding: 0 15px;
}

.navbar_link2 {
  position: relative;
  float: right;
  width: 25%;
  height: 70px;
/*   border: 1px solid black;
 */}
 
.navbar_link2 span {
  position: relative;
  padding: 0 15px;
}

.navbar_link2 div {
  color: olive;
  font-size: 18px;
  font-weight: 500;
  margin: 3px 0 7px 10%;
}


.activity_main {
  width: 100%;
  height: 75px;
  background-color: rgb(17, 88, 17, 0.05);
  z-index: 9999;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}



.login_btn {
  background: rgba(0, 166, 81, 1);
  border-radius: 4px;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: -4px;
  box-shadow: 2px 2px 2px black;
}

.login_btn:active {
  box-shadow: none;
}

.logout_btn {
  color: gray;
  background: #e8e8e8;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: -4px;
  box-shadow: 2px 2px 2px black;
}

.logout_btn:active {
  box-shadow: none;
}

.search-btn {
  color: white;
  background: rgba(0, 166, 81, 1);
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 2px black;
}
.search-btn:active {
  box-shadow: none;
}

a:hover {
  background-color: #178817;
  border-radius: 4px;
  height: 100%;
}



#acti_detail2 {
  display: none;
  width: auto;
  height: auto;
  padding: 1% 1% 1% 1%;
  top: 80%;
  margin-left: -3%;
  background-color: rgb(17, 88, 17, 0.05);
  border: 1px solid black;
  position: absolute;
  text-align: center;
  line-height: 30px;
}

#acti_detail2 a {
  display: block;
  font-size: 19px;
}


.login_btn {
  background: rgba(0, 166, 81, 1);
  border-radius: 4px;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: -4px;
  box-shadow: 2px 2px 2px black;
}

.login_btn:active {
  box-shadow: none;
}

.logout_btn {
  color: gray;
  background: #e8e8e8;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: -4px;
  box-shadow: 2px 2px 2px black;
}

.logout_btn:active {
  box-shadow: none;
}

.search-btn {
  color: white;
  background: rgba(0, 166, 81, 1);
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 2px black;
}
.search-btn:active {
  box-shadow: none;
}



#acti_detail2 {
  display: none;
  width: auto;
  height: auto;
  padding: 1% 1% 1% 1%;
  top: 100%;
  margin-left: -3%;
  background-color: rgb(17, 88, 17, 0.05);
  border: 1px solid black;
  position: absolute;
  text-align: center;
  line-height: 30px;
}

#acti_detail2 a {
  display: block;
  font-size: 19px;
}

