.signup1 {
  width: 100%;
  height: auto;
  margin: 0 auto 30px auto;
  /* border: 1px solid blue; */
}
.wrapper {
  height: 100%;
  background-color: rgb(17, 88, 17, 0.05);
}

.signup1 input {
  width: 100%;
  height: 30px;
  border: none;
}

.signup2 {
  width: 100%;
  height: 30px;
  border: none;
  margin: 0 auto 0 auto;
}

.signup2 button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  /* margin: 0 auto; */
}

.signup {
  width: 20%;
  height: auto;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.signup h3 {
  text-align: center;
  margin-top: -5px;
  font-weight: lighter;
}
