.logo {
  height: 400px;
  padding-top: 100px;
  background: rgba(240, 240, 240, 1);
}
.logo > img {
  position: relative;
  padding: 0;
  top: 10%;
  left: 40%;
}
.page-text {
    position: relative;
    width: 40%;
    left: 46%;
    transform: translate(-50%);
    /* border: 1px solid blue; */
    margin-bottom: 20px;
  }
  
.body-all {
  position: relative;
  width: 70%;
  height: 100%;
  background: rgba(249, 249, 249, 1);
  /* border: 2px solid rgb(19, 19, 39); */
  left: 15%;
  margin-bottom: 100px;
  padding: 1%;
}

.side-all {
  position: relative;
  left: 15%;
  display: inline-block;
  width: 22%;
  float: left;

}
.side-1 {
  width: 100%;
  height: 300px;
  /* margin-left: 10px; */

  border-style: solid;
  box-shadow: 2px 2px 3px 2px gray;
}
.side-1 > img {
  position: relative;   
  left: 35%;
}
.side-1 h4 {
    position: relative;
    left: 13%;
    transform: translate(-37px);
}
.side-2 {
  /* margin: 10px; */
  margin-top: 30px;
  margin-bottom: 100px;
  width: 100%;
  height: 630px;

  border-style: solid;
  box-shadow: 2px 2px 3px 2px gray;
}
#quit {
  position: relative;
  left: 40%;
}
.menu {
  margin: 90px;
}
.container {

    background: rgb(131, 94, 94); 
    position: relative;
}
.center-all{
    position: relative;
    display: inline-block;
    left: 19%;
    width: 45%;

}
.center-1 {
    width: 100%;
    height: 500px;
    border-style: solid ; box-shadow: 2px 2px 3px 2px gray;
    margin-bottom: 30px;
}
.center-1 textarea {
  width: 93%;
  height: 150px;
  border-style: hidden;
}
.center-1 button {
  position: relative;
  left: 87%;
  top: 12%;
}
.center-2 {
  width: 100%;
  height: 420px;
  border-style: solid;
  box-shadow: 2px 2px 3px 2px gray;
  padding: 5px;
  margin-bottom: 5%;
}

 .center-2 button {
  background: url("../../resources/image/mypage/wraning.png") no-repeat;
  background-position: center;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  left: 73%;
  top: 6%;
}
.center-2 h5 {
  display: inline-block;
}
#text1 {
	width: 93%;
    height: 200px;
    border: none;
    font-size: X-large;
}

/* ----------------회원탈퇴------------------ */
.q-body-all{   
  position: relative;
  width: 70%;
  left: 15%;
  margin-bottom: 100px;
  padding: 1%;
}
.q-side-all {
  position: relative;
  left: 25%;
  float: left;
  width: 25%;
}
.q-center-all {
  position: relative;
  left: 20%;
  float: right;
  width: 75%;
}
.q-center-1 {
  width: 600px;
  height: 500px;
  border-style: solid;
  box-shadow: 2px 2px 3px 2px gray;
  margin-bottom: 20px;
}
.q-text {
  position: relative;
  left: 20px;
  width: 550px;
}
.q-check {
  margin: 0px auto;
  display: table;
}
.q-center-all button {
  margin: 0px auto;
  display: table;
}

/* .next {
	color: white;
    background: rgba(0, 166, 81, 1);
    
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 2px black;
}
.next:active {
    box-shadow: none;
} */
/* ----------확인탈퇴2------------ */
.q-text2 {
  margin: 0px auto;
  display: table;
  text-align: center;
}

/* -----------여행내역------------- */

.a-center-all {
    position: relative;
    display: inline-block;
    left: 19%;
    width: 45%;
} */
.a-center-1 {
    width: 100%;
    height: 500px;
    border-style: solid ; 
    box-shadow: 2px 2px 3px 2px gray;
    margin-bottom: 30px;
}
.a-center-text{
    width: 100%;
    height: auto;
    border-style: solid ; 
    box-shadow: 2px 2px 3px 2px gray;
    margin-bottom: 30px;
    padding: 5px;
}
.a-center-text h4{
    margin-top: 5px;
    margin-bottom: 0px;
}
.a-buttons #one {
  margin-bottom: 10px;
  margin-right: 20px;
}
#move {
  float: right;
  margin-right: 10px;
  border: none;
  background: none;
} 
#delete {
  position: relative;
  left: 90%;
  margin-right: 10px;
}
#usestatus {
  display: contents;
}
.a-center-text h5 {
  margin-bottom: 0px;
}
.a-center-text h3 {
  display: inline;
}
#pay {
  position: relative;
  left: 87%;

  color: white;
  background: rgba(0, 166, 81, 1);

  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px black;
}
#pay:active {
  box-shadow: none;
}
.payment {
  display: inline-block;
}
.forgreen {
  color: white;
  background: rgba(0, 166, 81, 1);

  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px black;
}

.a-center-all button:active {
  box-shadow: none;
}

#complete{
  float: right;
  margin-right: 10px;
  color: darkgray;
  border: none;
}
#complete2{
  float: right;
  margin-right: 10px;
  	color: white;
    background: rgba(0, 166, 81, 1);
    
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 2px black;
}
#complete2:active {
    box-shadow: none;
  }



/* -----------메이트 평가 작성------------- */
#background {
  position: relative;
  width: 70%;
  height: 1000px;
  background: rgba(249, 249, 249, 1);
  /* border: 2px solid rgb(19, 19, 39); */
  left: 15%;
  margin-bottom: 100px;
  padding: 1%;
}
.r-center-all {
  position: relative;
  left: 20%;
  float: right;
  width: 75%;
}
.r-center-1 {
  width: 600px;
  height: 940px;
  border-style: solid;
  box-shadow: 2px 2px 3px 2px gray;
  margin-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
}
.one-line h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.one-line {
    display: flex;
}
.one-line button {
    position: relative;
    left: 245px;
}
.r-center-all{
  position: relative;
  left: 20%;
    float: right;
    width: 75%;
  }
.r-center-1{
  width: 600px;
    height: 940px;
    border-style: solid ; box-shadow: 2px 2px 3px 2px gray;
    margin-bottom: 20px;
  }
.r-center-1 h3> {
    padding-left: 10px;
    
  }
.r-center-1 h6 {
  margin-bottom: 3px;
    margin-top: 3px;
  }

  textarea {
    width: 550px;
    height: 200px;  
    border: none; 
    margin: 3%;
  }
.r-center-1 button{
  margin: 0px auto;
    display: table;
    
    width: 140px;
    height: 40px;

    color: white;
    background: rgba(0, 166, 81, 1);
    
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 2px black;
  }

  .r-center-1 button:active {
    box-shadow: none;
  }
  #title{
  	display: inline-block;
    position: relative;
    top: 30px;
    left: 10px;
    font-size: x-large;
    height: 30px;
    width: 80%;
    background : rgba(249, 249, 249, 1); 
  }
  #titleH2{
  	display : inline-block;
  }
  .r-center-1 h3{
  display : inline-block;
  }
/* --------------장바구니-------------- */

.c-center-text{
  width: 100%;
  height: 80%;
  border-style: solid ; 
  box-shadow: 2px 2px 3px 2px gray;
  margin-bottom: 30px;
  padding: 5px;
}
.c-center-text h4{
  margin-top: 5px;
  margin-bottom: 0px;
}
.c-center-text h5 {
  margin-bottom: 0px;
}
.c-center-text h3 {
  display: inline;
}
#x {
  border: none;
  background: rgba(255, 167, 183, 1);
  border-radius: 50px;
}
/* --------------메이트 내역--------------- */
.l-center-text{
  width: 100%;
  height: 921px;
  border-style: solid ; 
  box-shadow: 2px 2px 3px 2px gray;
  margin-bottom: 30px;
  padding: 5px;
}
.l-center-text h4{
  margin-top: 5px;
  margin-bottom: 0px;
}
.l-center-text h5 {
  margin-bottom: 0px;
}
.l-center-text h3 {
  display: inline;
}
#reviewGo {
    color: white;
    background: rgba(0, 166, 81, 1);
    
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 2px black;

    float: right;
    margin-right: 10px;
}
#reviewGo:active {
  box-shadow: none;
}
.l-one-line button {
  position: relative;
  left: 39%;
  width: 18%;
  border-radius: 8px;
  background: none;
}
#l-list {
  color: white;
  background: rgba(0, 166, 81, 1);
  
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px black;
}
#magam {
  left: 88%;
  position: relative;
}

/* ------------여행 리뷰 쓰기 페이지------------- */
.t-center-1{
  width: 100%;
  height: 1000px;
  border-style: solid ; box-shadow: 2px 2px 3px 2px gray;
  margin-bottom: 30px;
}
.t-buttons {
  color: white;
  background: rgba(0, 166, 81, 1);
  margin: 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px black;
  width: 16%;
  height: 3%;
}
.t-buttons:active{
  box-shadow: none;
}
.t-center-1 h5 {
  margin: 10px;
}
.t-center-text{
  margin: 10px;
}
.t-center-btn{
  margin: 0px auto;
    display: table;
    
    width: 140px;
    height: 40px;

    color: white;
    background: rgba(0, 166, 81, 1);
    
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 2px black;
}
.t-center-btn:active{
  box-shadow: none;
}

/*------------------------------------*/
.answer {
  width: 99%;
  height: 15%;
  background: ivory;
}

#image_container img{
	height: 200px;
	width: 200px;
}
#foryellow{
	color: #f9db06;
	display: inline-block;
	margin-top: 0px;
}
#forgray{
	color: #c0c0c0;
	display: inline-block;
	margin-top: 0px;
}

.a-center-text h5{
	margin: 0px;
}



.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:25px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color : gray;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:orange;}



#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
}
#myform input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#myform label{
    font-size: 2em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #fce303; /* 새 이모지 색상 부여 */
}
#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}
#myform fieldset legend{
    text-align: left;
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #c0c0c0; /* 마우스 클릭 체크 */
}
#myform label:hover{
    text-shadow: 0 0 0 #fce303; /* 마우스 호버 */
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 #c0c0c0; /* 마우스 호버 뒤에오는 이모지들 */
}
